{% extends "base.html" %}

{% load crispy_forms_tags i18n %}

{% block title %}
  {% trans "Update your account" %}
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8">
      <h1>{% trans "Update your account" %}</h1>
      <p class="text-muted small">
        {% trans "Want to update your password?" %} <a href="{% url 'account_change_password' %}">{% trans "Update password" %}</a>
      </p>
      {% crispy form %}
    </div>
  </div>
{% endblock content %}
