{% extends "base.html" %}

{% load static %}

{% block title %}
  User:
  {{ object.name }}
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {% if object == request.user %}
          <h2>{{ object.get_full_name }}</h2>
          <p>Manage your user account and settings.</p>
          <div class="mb-3">
            <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Update my details</a>
            <a class="btn btn-primary"
               href="{% url 'account_email' %}"
               role="button">Update my e-mails</a>
            <a class="btn btn-primary" href="{% url 'mfa_index' %}" role="button">Manage MFA</a>
          </div>
          {% if request.user.is_staff or perms.wagtailadmin.access_admin %}
            <h2>Staff links</h2>
            <p>Administrative and management links.</p>
            <div class="mb-3">
              {% if request.user.is_staff %}
                <a class="btn btn-primary" href="{% url 'admin:index' %}" role="button">Website Admin</a>
              {% endif %}
              {% if perms.wagtailadmin.access_admin %}
                <a class="btn btn-primary"
                   href="{% url 'wagtailadmin_home' %}"
                   role="button">Wagtail CMS</a>
              {% endif %}
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
