.footer-main {
  background-color: $footer-colour-background;
}

.footer-address {
  @include rem(padding, 30px 0 30px 0);
  color: $white;
  font-family: Roboto;
  font-size: 18px;
}

.footer-links {
  padding-left: 0;
  list-style: none;

  li {
    @include rem(margin-bottom, 10px);
  }

  a {
    color: $white;
  }
}

.footer-copyright {
  @include rem(padding, 10px 0 10px 0);
  background-color: $grey-mid-dark;
  color: $white;
  text-align: center;

  p {
    font-size: 14px;
    margin-bottom: 0;
    color: $text-mid;
  }
}

.footer-panel {
  @include rem(padding, 49px 30px 84px 32px);
  position: relative;
  text-align: center;
  background-color: $dtta-lime;
}

.footer-panel-heading {
  font-size: 36px;
  font-weight: 300;
}