.footer-main {
  background-color: $footer-colour-background;
}

.footer-address {
  @include rem(padding, 30px 0 30px 0);
  color: $white;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;

  a {
    color: $white;
  }
}

.footer-links {
  @include media-breakpoint-up(sm) {
    @include rem(margin-top, 69px);
  }
  padding-left: 0;
  list-style: none;

  li {
    @include rem(margin-bottom, 10px);
  }

  a {
    color: $white;
    font-weight: 500;
  }
}

.footer-copyright {
  @include rem(padding, 10px 0 10px 0);
  background-color: $grey-mid-dark;
  color: $white;
  text-align: center;

  p {
    font-size: 14px;
    margin-bottom: 0;
    color: $text-mid;
  }
}

.footer-panel {
  @include rem(padding, 49px 30px 84px 32px);
  height: 100%;
  position: relative;
  text-align: center;
  background-color: $footer-panel-background;
}

.footer-panel-heading {
  font-size: 36px;
  font-weight: 300;
}

.footer-logo {
  @include rem(margin, 40px 0 10px 0);
}