header {
  background-color: $header-colour-background;
}

.header-inner {
  @include rem(min-height, 89px);
  padding-top: 20px;
  padding-bottom: 20px;
  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}