# AMS config
APPLICATION_WEB_HOST=ams.local
APPLICATION_DB_HOST=db
APPLICATION_DB_NAME=ams_application
APPLICATION_DB_USER=postgres
APPLICATION_DB_PASSWORD=dev db password
APPLICATION_VERSION=dev
POSTGRES_PASSWORD=dev db password
DJANGO_SECRET_KEY=dev django secret key
DJANGO_CONFIGURATION=Development
DJANGO_SUPERUSER_USERNAME=amsadmin
DJANGO_SUPERUSER_PASSWORD=ams admin password
DJANGO_SUPERUSER_EMAIL=dtta-ams-dev@catalyst.net.nz
DJANGO_SETTINGS_MODULE=ams.dtta.settings
EMAIL_HOST=fakesmtp.catalyst.net.nz
EMAIL_HOST_USER=dtta-ams@fakesmtp.catalyst.net.nz
EMAIL_HOST_PASSWORD=set email password here
DOCKER_TAG=latest
SENTRY_DSN=

# Discourse config
DISCOURSE_HOSTNAME=discourse.local
DISCOURSE_REDIRECT_DOMAIN=http://discourse.local
DISCOURSE_CONNECT_SECRET=discourse connect secret key
DISCOURSE_DB_HOST=discourse-data
DISCOURSE_DB_PASSWORD=set discourse db password
DISCOURSE_REDIS_HOST=discourse-data

RAILS_ENV=production
