stages:
  - build
  - scan
  - test
  - deploy

variables:
  IMAGE_TAG: ${CI_PIPELINE_ID}-${CI_COMMIT_SHORT_SHA}

.kaniko:
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint: [""]
  before_script:
    - mkdir -p /kaniko/.docker
    - echo "$DOCKER_AUTH_CONFIG" > /kaniko/.docker/config.json

.build:
  extends:
    - .kaniko
  variables:
    DOCKERFILE: Dockerfile
    TARGET: ""
    ARGS: ""
  script:
    - /kaniko/executor --cache=false --context $CONTEXT --dockerfile $DOCKERFILE --target "$TARGET" --destination $IMAGE $ARGS

build backend:
  stage: build
  extends:
    - .build
  variables:
    IMAGE: $CONTAINER_REGISTRY/dtta/ams/backend:${IMAGE_TAG}
    CONTEXT: $CI_PROJECT_DIR/backend
    TARGET: production

scan backend:
  stage: scan
  image:
    name: docker.io/aquasec/trivy:latest
    entrypoint: [""]
  # Due to a bad upstream image being able to completely break the pipeline, we should allow failures for now.
  allow_failure: true
  variables:
    CRANE_VERSION: "v0.15.2"
    CRANE_TAR: "go-containerregistry_Linux_x86_64.tar.gz"
    CRANE_SHA256: "bd5f72ae96373ac640679a6108280b6d76698773ca21f293ae30cc17413e2ad1"
    IMAGE: $CONTAINER_REGISTRY/dtta/ams/backend:${CI_PIPELINE_ID}-${CI_COMMIT_SHORT_SHA}
  script:
    - wget -O crane.tar.gz https://github.com/google/go-containerregistry/releases/download/$CRANE_VERSION/$CRANE_TAR
    - echo "$CRANE_SHA256 crane.tar.gz" | sha256sum -c
    - tar -xzf crane.tar.gz crane
    - ./crane auth login -u $CONTAINER_REGISTRY_USER -p $CONTAINER_REGISTRY_PASSWORD $CONTAINER_REGISTRY
    - ./crane pull $IMAGE image.tar
    - trivy image --clear-cache
    - trivy --cache-dir .trivycache/ image --download-db-only --no-progress
    - trivy --cache-dir .trivycache/ image --exit-code 1 --no-progress --severity HIGH,CRITICAL --input image.tar
    # Explicitly scan python dependencies in poetry.lock as trivy misses them when scanning the image
    - trivy --cache-dir .trivycache/ fs --exit-code 1 --no-progress --severity HIGH,CRITICAL ${CI_PROJECT_DIR}/backend/poetry.lock


lint backend:
  stage: test
  image:
    name: $CONTAINER_REGISTRY/dtta/ams/backend:${IMAGE_TAG}
    entrypoint: [""]
  script:
    - cd /src/app/
    - poetry run ./lint-python.bash

test backend:
  stage: test
  image:
    name: $CONTAINER_REGISTRY/dtta/ams/backend:${IMAGE_TAG}
    entrypoint: [""]
  services:
    - name: docker.catalyst.net.nz/catalyst/postgres:14
      alias: db
  variables:
    POSTGRES_DB: test_db
    POSTGRES_USER: test_user
    POSTGRES_PASSWORD: test password
    PGPASSWORD: ${POSTGRES_PASSWORD}
    POSTGRES_HOST: db
    APPLICATION_DB_HOST: ${POSTGRES_HOST}
    APPLICATION_DB_NAME: ${POSTGRES_DB}
    APPLICATION_DB_USER: ${POSTGRES_USER}
    APPLICATION_DB_PASSWORD: ${POSTGRES_PASSWORD}
    APPLICATION_WEB_HOST: localhost
    DJANGO_SETTINGS_MODULE: ams.settings
    DJANGO_CONFIGURATION: Development
    DJANGO_SECRET_KEY: test django secret key
    EMAIL_HOST_PASSWORD:
  script:
    - cd /src/app
    - poetry run pytest

deploy to test:
  stage: deploy
  image:
    name: debian:bullseye
  rules:
    - if: $CI_COMMIT_BRANCH == 'main'
  variables:
    RECREATE_DB: 1
  before_script:
  - apt-get update -y && apt-get install openssh-client rsync make -y
  - eval $(ssh-agent -s)
  - chmod 400 "$SSH_PRIVATE_KEY"
  - ssh-add "$SSH_PRIVATE_KEY"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - echo "$SSH_KNOWN_HOSTS" >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  script:
    # Tear down the existing deployment, remove orphan containers and clear volumes, and remove old images.
    - ssh $SSH_USER@$SSH_HOST "cd $DEPLOY_APP_DIR && docker-compose down --remove-orphans -v && docker image prune -a -f"
    # Bring in the .env file from CI
    - cp $DOT_ENV_FILE .env
    # Update the tag for the AMS docker image.
    - sed -i "s/DOCKER_TAG=.*/DOCKER_TAG=${IMAGE_TAG}/" .env
    # Add deployment variables
    - echo "" >> .env
    - echo "RECREATE_DB=${RECREATE_DB}" >> .env
    # Copy over the new files - ignore the .git directory as the deployment does not need access to git history.
    # `--del` is added to ensure that orphaned files get cleaned up.
    - rsync -aRvPcp --del . $SSH_USER@$SSH_HOST:$DEPLOY_APP_DIR --exclude .git --exclude .htpasswd
    - ssh $SSH_USER@$SSH_HOST "cd $DEPLOY_APP_DIR/ci/ && ./deploy.bash"
