stages:
  - build
  - test

.kaniko:
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint: [""]
  before_script:
    - mkdir -p /kaniko/.docker
    - echo "$DOCKER_AUTH_CONFIG" > /kaniko/.docker/config.json

.build:
  extends:
    - .kaniko
  variables:
    DOCKERFILE: Dockerfile
    TARGET: ""
    ARGS: ""
  script:
    - /kaniko/executor --cache=false --context $CONTEXT --dockerfile $DOCKERFILE --target "$TARGET" --destination $IMAGE $ARGS

build backend:
  stage: build
  extends:
    - .build
  variables:
    IMAGE: $CONTAINER_REGISTRY/dtta/ams/backend:${CI_PIPELINE_ID}-${CI_COMMIT_SHORT_SHA}
    CONTEXT: $CI_PROJECT_DIR/backend
    TARGET: production

lint backend:
  stage: test
  image:
    name: $CONTAINER_REGISTRY/dtta/ams/backend:${CI_PIPELINE_ID}-${CI_COMMIT_SHORT_SHA}
    entrypoint: [""]
  script:
    - cd /src/app/
    - poetry run ./lint-python.bash

test backend:
  stage: test
  image:
    name: $CONTAINER_REGISTRY/dtta/ams/backend:${CI_PIPELINE_ID}-${CI_COMMIT_SHORT_SHA}
    entrypoint: [""]
  services:
    - name: docker.catalyst.net.nz/catalyst/postgres:14
      alias: db
  variables:
    POSTGRES_DB: test_db
    POSTGRES_USER: test_user
    POSTGRES_PASSWORD: test password
    PGPASSWORD: ${POSTGRES_PASSWORD}
    POSTGRES_HOST: db
    APPLICATION_DB_HOST: ${POSTGRES_HOST}
    APPLICATION_DB_NAME: ${POSTGRES_DB}
    APPLICATION_DB_USER: ${POSTGRES_USER}
    APPLICATION_DB_PASSWORD: ${POSTGRES_PASSWORD}
    APPLICATION_WEB_HOST: localhost
    DJANGO_SETTINGS_MODULE: ams.settings
    DJANGO_CONFIGURATION: Development
    DJANGO_SECRET_KEY: test django secret key
  script:
    - cd /src/app
    - poetry run pytest

audit backend dependencies:
  stage: test
  image:
    name: docker.io/aquasec/trivy:latest
    entrypoint: [""]
  script:
    - trivy fs --exit-code 1 --no-progress --severity HIGH,CRITICAL ${CI_PROJECT_DIR}/backend/poetry.lock
