version: '3.8'

x-backend-environment: &backend-environment
  - DJANGO_SETTINGS_MODULE
  - DJANGO_SECRET_KEY
  - DJANGO_CONFIGURATION
  - EMAIL_HOST
  - EMAIL_HOST_USER
  - EMAIL_HOST_PASSWORD
  - DEFAULT_FROM_EMAIL
  - APPLICATION_SITE_NAME
  - APPLICATION_WEB_HOST
  - APPLICATION_VERSION
  - APPLICATION_DB_HOST
  - APPLICATION_DB_NAME
  - APPLICATION_DB_USER
  - APPLICATION_DB_PASSWORD
  - SENTRY_DSN
  - DISCOURSE_HOSTNAME
  - DISCOURSE_REDIRECT_DOMAIN
  - DISCOURSE_CONNECT_SECRET
  - DISCOURSE_API_USERNAME
  - DISCOURSE_API_KEY
  - BILLING_SERVICE_CLASS
  - BILLING_EMAIL_WHITELIST_REGEX
  - XERO_TENANT_ID
  - XERO_CLIENT_ID
  - XERO_CLIENT_SECRET
  - XERO_WEBHOOK_KEY
  - XERO_ACCOUNT_CODE
  - XERO_AMOUNT_TYPE
  - XERO_CURRENCY_CODE

services:
  db:
    image: 'docker.catalyst.net.nz/catalyst/postgres:14'
    command: >-
      postgres
    environment:
      - POSTGRES_PASSWORD
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    image: 'docker.catalyst.net.nz/dtta/ams/backend:${DOCKER_TAG}'
    depends_on:
      - db
    environment: *backend-environment

  cron:
    user: root
    init: true
    image: 'docker.catalyst.net.nz/dtta/ams/backend:${DOCKER_TAG}'
    entrypoint: ["/src/app/cron-entrypoint.bash"]
    depends_on:
      - db
    environment: *backend-environment

  nginx:
    image: docker.catalyst.net.nz/catalyst/nginx:stable-jammy
    ports:
      - 80:80
    depends_on:
      - backend

  discourse:
    image: 'docker.catalyst.net.nz/dtta/discourse/discourse:latest'
    environment:
      - DISCOURSE_HOSTNAME
      - DISCOURSE_DB_HOST=discourse-data
      - DISCOURSE_REDIS_HOST=discourse-data
      - DISCOURSE_DB_PASSWORD
      - DISCOURSE_SMTP_ADDRESS=$EMAIL_HOST
      - DISCOURSE_SMTP_USER_NAME=$EMAIL_HOST_USER
      - DISCOURSE_SMTP_PASSWORD=$EMAIL_HOST_PASSWORD
      - DISCOURSE_DEVELOPER_EMAILS=$DJANGO_SUPERUSER_EMAIL
      - RAILS_ENV=production
      - UNICORN_WORKERS=3
      - UNICORN_SIDEKIQS=1
      - RUBY_GC_HEAP_GROWTH_MAX_SLOTS=40000
      - RUBY_GC_HEAP_INIT_SLOTS=400000
      - RUBY_GC_HEAP_OLDOBJECT_LIMIT_FACTOR=1.5
    command: /sbin/boot
    volumes:
    - discourse_uploads:/var/www/discourse/public/uploads
    depends_on:
      - discourse-data

  discourse-data:
    image: 'docker.catalyst.net.nz/dtta/discourse/discourse-data:latest'
    command: /sbin/boot
    volumes:
      - discourse_data:/shared

volumes:
  postgres_data:
  discourse_uploads:
  discourse_data:
