volumes:
  ams_postgres_data: {}
  ams_redis_data: {}
  ams_discourse_data: {}
  ams_discourse_postgres: {}
  ams_discourse_postgres_data: {}

services:
  django:
    build:
      context: .
      dockerfile: ./compose/local/django/Dockerfile
    image: ams_django
    container_name: ams_django
    depends_on:
      - postgres
      - mailpit
    volumes:
      - .:/app:z
    env_file:
      - ./.envs/.local/django.ini
      - ./.envs/.local/postgres.ini
    command: sleep infinity

  postgres:
    image: docker.io/postgres:17
    container_name: ams_postgres
    volumes:
      - ams_postgres_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    env_file:
      - ./.envs/.local/postgres.ini

  mailpit:
    image: docker.io/axllent/mailpit:latest
    container_name: ams_mailpit
    ports:
      - '8025:8025'

  node:
    build:
      context: .
      dockerfile: ./compose/local/node/Dockerfile
    image: ams_node
    container_name: ams_node
    depends_on:
      - django
    volumes:
      - .:/app:z
      # http://jdlm.info/articles/2016/03/06/lessons-building-node-app-docker.html
      - /app/node_modules
    command: npm run dev
    ports:
      - '3000:3000'
      # Expose browsersync UI: https://www.browsersync.io/docs/options/#option-ui
      - '3001:3001'

  discourse:
    image: discourse/discourse:3.5.1
    container_name: ams_discourse
    depends_on:
      - discourse_postgres
      - redis
      - mailpit
    ports:
      - '80:80'
    volumes:
      - ams_discourse_data:/shared
    env_file:
      - ./.envs/.local/discourse.ini

  discourse_init:
    image: discourse/discourse:3.5.1
    container_name: ams_discourse_init
    depends_on:
      - discourse
    volumes:
      - ams_discourse_data:/shared
      - ./compose/local/discourse/discourse-init.rb:/usr/local/bin/discourse-init.rb:ro
      - ./compose/local/discourse/run-init.sh:/usr/local/bin/run-init.sh:ro
    env_file:
      - ./.envs/.local/discourse.ini
    entrypoint: ['bash', '-lc']
    command: '/usr/local/bin/run-init.sh'

  discourse_postgres:
    image: discourse/postgres
    container_name: ams_discourse_postgres
    volumes:
      - ams_discourse_postgres:/var/lib/postgresql
      - ams_discourse_postgres_data:/var/lib/postgresql/data
    env_file:
      - ./.envs/.local/discourse_postgres.ini

  redis:
    image: redis:7-alpine
    container_name: ams_redis
    volumes:
      - ams_redis_data:/data
    ports:
      - '6379:6379'
    command: redis-server --appendonly yes

  docs:
    container_name: ams_docs
    image: squidfunk/mkdocs-material
    ports:
      - '8001:8000'
    volumes:
      - ./docs/:/docs:z
