volumes:
  ams_postgres_data: {}
  ams_postgres_data_backups: {}

services:
  django:
    build:
      context: .
      dockerfile: ./compose/local/django/Dockerfile
    image: ams_django
    container_name: ams_django
    depends_on:
      - postgres
      - mailpit
    volumes:
      - .:/app:z
    env_file:
      - ./.envs/.local/django.ini
      - ./.envs/.local/postgres.ini
    ports:
      - '8000:8000'
    command: sleep infinity

  postgres:
    build:
      context: .
      dockerfile: ./compose/production/postgres/Dockerfile
    image: ams_postgres
    container_name: ams_postgres
    volumes:
      - ams_postgres_data:/var/lib/postgresql/data
      - ams_postgres_data_backups:/backups
    ports:
      - '5432:5432'
    env_file:
      - ./.envs/.local/postgres.ini

  mailpit:
    image: docker.io/axllent/mailpit:latest
    container_name: ams_mailpit
    ports:
      - '8025:8025'

  node:
    build:
      context: .
      dockerfile: ./compose/local/node/Dockerfile
    image: ams_node
    container_name: ams_node
    depends_on:
      - django
    volumes:
      - .:/app:z
      # http://jdlm.info/articles/2016/03/06/lessons-building-node-app-docker.html
      - /app/node_modules
    command: npm run dev
    ports:
      - '3000:3000'
      # Expose browsersync UI: https://www.browsersync.io/docs/options/#option-ui
      - '3001:3001'

  docs:
    container_name: ams_docs
    image: squidfunk/mkdocs-material
    ports:
      - '8001:8000'
    volumes:
      - ./docs/:/docs:z
