$white: #ffffff;
$grey-faint: #f8f8f8;
$grey-lighter: #e6e6e6;
$grey-light: #6c6c6c;
$grey-mid: #3e3d3b;
$grey-mid-dark: #302f2e;
$text-dark: #333333;
$text-mid: #999999;
$text-light: #ffffff;

// Brand colours
$brand-green: #1a4c54;
$brand-green-light: #117175;
$brand-lime: #c5ea6c;
$brand-lime-faded: #e4f7b7;
$brand-lime-dark: #a7d267;
$brand-orange: #fb6f41;
$brand-purple: #433e5a;
$brand-teal: #2c8887;
$brand-blue: #2574b7;
$brand-cream: #f5e4d4;
$brand-cream-light: #e8e8e8;

// Layout
$page-colour-background: $brand-green;
$page-colour-foreground: $grey-mid-dark;
$header-colour-background: $grey-mid;
$user-details-bar-colour-background: $grey-light;
$footer-colour-background: $grey-mid;

// Navbar
$navbar-toggle-colour-background: $grey-light;
$navbar-toggle-colour: $white;
$navbar-line-colour: $grey-light;
$navbar-colour-submenu-desktop-background: $brand-lime;
$navbar-colour-submenu-desktop-background-hover: $brand-lime-dark;
$navbar-colour-border-hover: $brand-lime;
$navbar-colour-border-current: $brand-lime;

// Userbar

$user-details-colour-background: $grey-lighter;
$user-details-button-colour-background: $brand-lime;

// Cards
$card-colour-background: $brand-lime-faded;
$card-colour-icon: $brand-orange;
$card-colour-icon-first: $brand-orange;
$card-colour-icon-second: $brand-purple;
$card-colour-icon-third: $brand-teal;
$card-colour-icon-fourth: $brand-blue;
$card-colour-border: $white;
$card-colour-text: $text-dark;

// Cards - Discussion
$card-discussion-colour-title: $white;
$card-discussion-colour-background: $brand-cream;
$card-discussion-colour-heading: $brand-green;
$card-discussion-colour-content: $text-dark;

// Buttons
$btn-view-colour-background: $brand-cream-light;
$btn-view-colour-background-hover: $brand-cream-light;
$btn-view-colour-text: $brand-green;
$btn-view-colour-text-hover: $brand-green;

// Footer
$footer-panel-background: $brand-lime;

// Introduction
$introduction-colour-text: $brand-lime;

// Form
$form-colour-background: $brand-lime-faded;
$form-colour-border: $brand-green;