$white: #ffffff;
$grey-faint: #f8f8f8;
$grey-light: #6c6c6c;
$grey-mid: #3e3d3b;
$grey-mid-dark: #302f2e;
$text-dark: #333333;
$text-mid: #999999;
$text-light: #ffffff;

// Brand colours
$dtta-green: #1a4c54;
$dtta-green-light: #117175;
$dtta-lime: #c5ea6c;
$dtta-lime-faded: #e4f7b7;
$dtta-lime-dark: #a7d267;
$dtta-orange: #fb6f41;
$dtta-purple: #433e5a;
$dtta-teal: #2c8887;
$dtta-blue: #2574b7;
$dtta-cream: #f5e4d4;
$dtta-cream-light: #e8e8e8;

// Layout
$page-colour-background: $dtta-green;
$header-colour-background: $grey-mid;
$user-details-bar-colour-background: $grey-light;
$footer-colour-background: $grey-mid;

// Userbar
$user-details-button-colour-background: $dtta-lime;

// Cards
$card-colour-background: $dtta-lime-faded;
$card-colour-border: $white;
$card-colour-icon: $dtta-orange;
$card-colour-icon-first: $dtta-orange;
$card-colour-icon-second: $dtta-purple;
$card-colour-icon-third: $dtta-teal;
$card-colour-icon-fourth: $dtta-blue;

// Cards - Discussion
$card-discussion-colour-title: $white;
$card-discussion-colour-background: $dtta-cream;
$card-discussion-colour-heading: $dtta-green;
$card-discussion-colour-content: $text-dark;

// Buttons
