{% load wagtailcore_tags wagtailimages_tags %}

<div class="image-grid__item__image">
  {% if item.image_scaling == "fit" %}
    {% if self.border_style == "rounded" %}
      {% image item.image max-300x300 loading="lazy" class="img-fluid mb-1 rounded-4" %}
    {% elif self.border_style == "circle" %}
      <div class="circle-responsive">{% image item.image max-300x300 loading="lazy" class="img-fluid mb-1" %}</div>
    {% else %}
      {% image item.image max-300x300 loading="lazy" class="img-fluid mb-1" %}
    {% endif %}
  {% else %}
    {% if self.border_style == "rounded" %}
      {% image item.image fill-300x300 loading="lazy" class="img-fluid mb-1 rounded-4" %}
    {% elif self.border_style == "circle" %}
      <div class="circle-responsive">{% image item.image fill-300x300 loading="lazy" class="img-fluid mb-1" %}</div>
    {% else %}
      {% image item.image fill-300x300 loading="lazy" class="img-fluid mb-1" %}
    {% endif %}
  {% endif %}
</div>
<div class="image-grid__item__text {% if self.text_alignment == 'center' %} text-center {% else %} text-start {% endif %}">
  {% if item.title %}<h4 class="image-grid__item__title h5 mb-2">{{ item.title }}</h4>{% endif %}
  {% if item.subtitle %}<p class="image-grid__item__subtitle text-muted mb-2">{{ item.subtitle }}</p>{% endif %}
  {% if item.description %}<div class="image-grid__item__description">{{ item.description|richtext }}</div>{% endif %}
</div>
