{% load wagtailcore_tags %}

<div class="image-grid row row-cols-2 row-cols-lg-{{ self.columns }} g-4 {% if self.image_alignment == 'center' %}justify-content-center{% endif %}">
  {% for item in self.items %}
    <div class="col">
      {% if item.link_page or item.link_url %}
        <a href="{% if item.link_page %}{% pageurl item.link_page %}{% else %}{{ item.link_url }}{% endif %}"
           class="image-grid__item text-center d-block">
          {% include "cms/blocks/partials/image_grid_item_content.html" %}
        </a>
      {% else %}
        <div class="image-grid__item text-center">{% include "cms/blocks/partials/image_grid_item_content.html" %}</div>
      {% endif %}
    </div>
  {% endfor %}
</div>
