{% extends "base.html" %}
{% load static wagtailcore_tags i18n localize_url form_field %}

{% block title %}{% translate "Add a Membership" %}{% endblock title %}

{% block body_class %}add-organisation-membership{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
        <div class="introduction">
            <h1 class="introduction-heading standard-page">{% translate "Add a Membership" %}</h1>
            <div class="introduction-content standard-page" style="max-width: none">
                {% if current_membership.status == "ACTIVE" %}
                    {% blocktranslate with membership_name=current_membership.membership_option.name expiry_date=current_membership.expiry_date %}
                    The organisation's current {{membership_name}} membership is Active and expires on {{expiry_date}}.                       
                    {% endblocktranslate %}
                {% elif latest_membership.status == "EXPIRED" %}
                    {% blocktranslate with expiry_date=latest_membership.expiry_date %}
                    The organisation's last membership expired on {{expiry_date}}.
                    {% endblocktranslate %}
                {% elif latest_membership.status == "CANCELLED" %}
                    {% blocktranslate with cancelled_datetime=latest_membership.cancelled_datetime %}
                    The organisation's last membership was cancelled on {{cancelled_datetime}}.
                    {% endblocktranslate %}
                {% endif %}
            </div>
        </div>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-lg-9">

            <form class="form-panel form-panel-registration" action="" method="post">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    <div class="form-label">
                        {{ field.label_tag }}
                    </div>
                    <div class="form-input form-input-short">
                        {{ field|add_form_field_classes }}
                        {{ field.errors }}
                    </div>
                </div>
            {% endfor %}

            <div class="form-actions">
                <input class="btn btn-form-cancel" type="button" value="Cancel" onclick="window.location='{% url "view-organisation" organisation.pk %}';">
                <input class="btn btn-form-submit-hollow" type="submit" value="{% translate "Add Membership" %}">
            </div>
        </form>
        </div>
    </div>

{% endblock content %}