{% extends "base.html" %}
{% load static wagtailcore_tags i18n %}
{% load render_table from django_tables2 %}

{% block title %}{% translate "User Account" %}{% endblock title %}

{% block body_class %}admin-user-view{% endblock %}

{% block content %}

{% include "show_messages.html" %}

<table>
    <tr>
        <td style="padding: 10px">
            <img class="user-details-image" src="" style="width: 128px; height: 128px;">
            <h1>
                {% if user_detail.first_name %}
                    {{user_detail.get_full_name}}
                {% else %}
                    {{user_detail.username}}
                {% endif %}
            </h1>
            <div class="content">
                <p><a href="mailto:{{user_detail.email | urlencode}}">{{user_detail.email}}</a></p>
            </div>
        </td>
        <td valign="top">
            <h1>{% translate "Memberships" %}</h1>
            {% render_table table %}
        </td>
    </tr>
</table>

{% endblock content %}