{% extends "base.html" %}
{% load static wagtailcore_tags i18n localize_url form_field %}

{% block title %}{% if organisation %}{% translate "Edit Organisation" %}{% else %}{% translate "Create Organisation" %}{% endif %}{% endblock title %}

{% block body_class %}edit-organisation{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
    <div class="introduction">
        <h1 class="introduction-heading standard-page">
            {% if organisation %}
                {% translate "Edit Organisation" %}
            {% else %}
                {% translate "Create Organisation" %}
            {% endif %}
        </h1>
        <p class="introduction-content standard-page"></p>
    </div>
    </div>
</div>

<div class="row no-gutters">
<div class="col-lg-9">
    <form class="form-panel form-panel-standard" action="" method="post">
        {% csrf_token %}
        <h2 class="form-panel-heading">{% translate "Organisation Details" %}</h2>

        <div class="organisation-detail-fields">
            {% for field in form %}
                <div class="form-group">
                    <div class="form-label">
                        {{ field.label_tag }}
                    </div>
                    <div class="form-input form-input-short">
                        {{ field | add_form_field_classes }}
                        {{ field.errors }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="form-actions">
            <input class="btn btn-form-cancel" type="button" value="Cancel" onClick="window.location='{{ "users/organisations/" | localize_url }}';">
            <input class="btn btn-form-submit" type="submit" value="{% if organisation %}{% translate "Save" %}{% else %}{% translate "Create" %}{% endif %}">
        </div>
    </form>
</div>
</div>

{% endblock %}
