{% extends "base.html" %}
{% load static wagtailcore_tags i18n localize_url %}

{% block title %}{% translate "Membership Registration" %}{% endblock title %}

{% block body_class %}individual-registration{% endblock %}

{% block content %}

<h1>{% translate "Membership Registration" %}</h1>

<form action="/users/individual-registration/" method="post">
    {% csrf_token %}

    <h2>{% translate "Personal Details" %}</h1>

    <div class="registration-personal-detail-fields">
        {% for field in personal_detail_fields %}
            <div class="fieldWrapper">
                <span style="display: inline-block; width: 200px;">{{ field.label_tag }}</span> {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
    </table>

    <h2>{% translate "Membership" %}</h1>

    <p>{% translate "Sign me up for ..." %}</p>

    <div class="registration-membership-fields">
            <div class="fieldWrapper">
                {% for option in membership_option_field %}
                    <div>
                        <label for="{{option.id_for_label}}">
                            {{option.tag}}
                            <span>
                                <strong>{{ option.data.value }}</strong>
                                {{ option.choice_label }}
                            </span>
                        </label>
                    </div>
                 {% endfor %}
                 {{ membership_option_field.errors }}
            </div>
    </div>

    <br/>

    <div>
        <input type="button" value="Cancel" onClick="window.location='{{ "membership/" | localize_url }}';">
        <input type="submit" value="Register">
    </div>

</form>

{% endblock content %}