{% extends "base.html" %}
{% load static wagtailcore_tags i18n localize_url invalid_field %}

{% block title %}{% translate "Membership Registration" %}{% endblock title %}

{% block body_class %}individual-registration{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">
        <div class="introduction">
            <h1 class="introduction-heading standard-page">{% translate "Membership Registration" %}</h1>
            <p class="introduction-content standard-page"></p>
        </div>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-lg-9">

            <form class="form-panel form-panel-registration" action="/users/individual-registration/" method="post">
            {% csrf_token %}

            <h2 class="form-panel-heading">{% translate "Personal Details" %}</h2>

            <div class="registration-personal-detail-fields">
                {% for field in personal_detail_fields %}
                    <div class="form-group">
                        <div class="form-label">
                            {{ field.label_tag }}
                        </div>
                        <div class="form-input">
                            {{ field|add_invalid_field_class }}
                            {% if field.name == "email" %}
                                <small id="emailHelp" class="form-text text-muted">{% translate "You will use your email to log in to the system." %}</small>
                            {% endif %}
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <hr class="form-divider"/>

            <h2 class="form-panel-heading">Membership</h2>

            <div class="form-membership">
                <div class="form-membership-description">
                    <p>{% translate "Sign me up for ..." %}</p>
                </div>

                <div class="registration-membership-fields">
                        {% for option in membership_option_field %}
                            <div>
                                <label for="{{option.id_for_label}}">
                                    {{option.tag}}
                                    <span>
                                        <strong>{{ option.data.value }}</strong>
                                        {{ option.choice_label }}
                                    </span>
                                </label>
                            </div>
                        {% endfor %}
                        {{ membership_option_field.errors }}
                </div>
            </div>

            <div class="form-actions">
                <input class="btn btn-form-cancel" type="button" value="Cancel" onclick="window.location='/membership/';">
                <input class="btn btn-form-register" type="submit" value="Register">
            </div>
        </form>
        </div>

        <div class="col-lg-3">
            <img src="/static/images/photos/form-image.png">
        </div>
    </div>

{% endblock content %}