{% extends "base.html" %}
{% load static wagtailcore_tags i18n %}
{% load render_table from django_tables2 %}

{% block title %}{{ organisation.name }}{% endblock title %}

{% block body_class %}organisation-view{% endblock %}

{% block content %}

<style>
    label {
        font-weight: bold;
        margin-bottom: 0;
    }
</style>

{% include "show_messages.html" %}

<table style="width: 100%">
    <tr>
        <td valign="top" style="padding: 10px">

            <h1>{{ organisation.name }}</h1>

            <div class="content">
                <p><label>{% translate "Account Number" %}:</label>
                <br>{{ organisation.account.pk }}</p>

                <p><label>{% translate "Type" %}:</label>
                <br>{{ organisation.type.name }}</p>

                <p><label>{% translate "Telephone" %}:</label>
                <br>{{ organisation.telephone }}</p>

                <p><label>{% translate "Email" %}:</label>
                <br><a href="mailto:{{organisation.email | urlencode}}">{{organisation.email}}</a></p>

                <p><label>{% translate "Contact Name" %}:</label>
                <br>{{ organisation.contact_name }}</p>

                <p><label>{% translate "Postal Address" %}:</label>
                <br>{{ organisation.postal_address }}
                    {% if organisation.postal_suburb %}<br>{{ organisation.postal_suburb }}{% endif %}
                    <br>{{ organisation.postal_city }}, {{ organisation.postal_code }}
                </p>

                <p><label>{% translate "Street Address" %}:</label>
                <br>{{ organisation.street_address }}
                {% if organisation.suburb %}<br>{{ organisation.suburb }}{% endif %}
                <br>{{ organisation.city }}
                </p>
   
                <p><a href="{% url "admin-edit-organisation" organisation.pk %}">{% translate "Edit Organisation" %}</a></p>
            </div>
        </td>
        <td valign="top">
            <h1>{% translate "Members" %}</h1>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-container">
                        <div class="table-actions">
                            <a class="btn btn-small btn-table-action" href="{% url "invite-organisation-member" organisation.pk %}">{% translate "Invite Member" %}</a>                            
                        </div>
                        {% render_table tables.0 %}
                    </div>
                </div>
            </div>

            <br>
            <h1>{% translate "Memberships" %}</h1>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-container">
                        <div class="table-actions">
                            <a class="btn btn-small btn-table-action" href="{% url "add-organisation-membership" organisation.pk %}">{% translate "Add Membership" %}</a>
                        </div>
                        {% render_table tables.1 %}
                    </div>
                </div>
            </div>

            {% if tables.2.rows %}
            <br>
            <h1>{% translate "Invoices" %}</h1>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-container">
                        <div class="table-actions">
                        </div>
                        {% render_table tables.2 %}
                    </div>
                </div>
            </div>
            {% endif %}
        </td>
    </tr>
</table>

{% include "remove_organisation_member_modal.html" with modal_id="removeOrganisationMemberModal" %}

{% endblock content %}
