{% extends "base.html" %}
{% load static wagtailcore_tags i18n localize_url form_field %}

{% block title %}{% translate "Membership Registration" %}{% endblock title %}

{% block body_class %}organisation-user-registration{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">
        <div class="introduction">
            <h1 class="introduction-heading standard-page">{% translate "Membership Registration" %}</h1>
            <p class="introduction-content standard-page"></p>
        </div>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-lg-9">

            <form class="form-panel form-panel-registration" method="post">
            {% csrf_token %}

            <h2 class="form-panel-heading">{% translate "Personal Details" %}</h2>

            <div class="registration-personal-detail-fields">
                {% for field in form %}
                    <div class="form-group">
                        <div class="form-label">
                            {{ field.label_tag }}
                        </div>
                        <div class="form-input">
                            {{ field|add_form_field_classes }}
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <hr class="form-divider"/>

            <h2 class="form-panel-heading">Membership</h2>

            <p>
            {% blocktranslate with organisation_name=organisation.name %}
            You will be registered as a member of {{ organisation_name }}.
            {% endblocktranslate %}
            </p>

            <div class="form-actions">
                <input class="btn btn-form-submit-hollow" type="submit" value="{% translate "Register" %}">
            </div>
        </form>
        </div>

        <div class="col-lg-3">
            <img src="/static/images/photos/form-image.png">
        </div>
    </div>

{% endblock content %}