
{% extends "modal.html" %}
{% load i18n %}

{% block title %}{% translate "Remove Organisation Membership" %}{% endblock %}

{% block body %}
    {% blocktranslate with organisation_name=organisation.name %}
    Are you sure you want to remove <span id="modal_organisation_member_email"></span> from the {{ organisation_name }}
    organisation? The affected user will no longer be able to access membership features through this organisation.
    {% endblocktranslate %}
{% endblock %}

{% block actions %}
    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate "No" %}</button>
    <form method="post" name="remove_organisation_member_form" action="">
        {% csrf_token %}
        <input type="hidden" name="action" value="remove_organisation_member">
        <input type="hidden" id="modal_organisation_member_id" name="organisation_member_id" value="">
        <button type="submit" class="btn btn-primary">{% translate "Yes, Remove" %}</button>
    </form>
{% endblock %}
