{% extends "base.html" %}
{% load static wagtailcore_tags i18n %}
{% load render_table from django_tables2 %}

{% block title %}{% translate "User Account" %}{% endblock title %}

{% block body_class %}user-view{% endblock %}

{% block content %}

{% include "show_messages.html" %}

<table style="width: 100%">
    <tr>
        <td style="padding: 10px">
            <img class="user-details-profile-image" src="">
            <h1>
                {% if user_detail.first_name %}
                    {{user_detail.get_full_name}}
                {% else %}
                    {{user_detail.username}}
                {% endif %}
            </h1>
            <div class="content">
                <p><a href="mailto:{{user_detail.email | urlencode}}">{{user_detail.email}}</a></p>
                <a href="{% url "edit-user-profile" user_detail.pk %}">{% translate "Edit Profile" %}</a>
            </div>
        </td>
        <td valign="top">
            <h1>{% translate "Memberships" %}</h1>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-container">
                        <div class="table-actions">
                            {% if can_add_membership %}
                                <a class="btn btn-small btn-table-action" href="{% url "add-user-membership" user_detail.pk  %}">{% translate "Add Membership" %}</a>
                            {% endif %}
                        </div>
                        {% render_table table %}
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>

{% if user.is_staff %}
    {% include "cancel_membership_modal.html" with modal_id="cancelMembershipModal" %}
{% endif %}

{% endblock content %}