{% extends "base.html" %}
{% load static wagtailcore_tags i18n localize_url %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<div class="row row-introduction">
    <div class="col">
    <div class="introduction">
        <h1 class="introduction-heading">
            {{ page.heading }}
            {% if page.subheading != "" %}
                </br><span class="introduction-subheading">{{ page.subheading }}</span>
            {% endif %}
        </h1>
        <p class="introduction-content">{{ page.body|richtext }}</p>
    </div>
    </div>
</div>

<!-- TODO: replace hard coded blocks -->
<div class="row mb-5 no-gutters">
    <div class="col-lg-4 col-md-6">
      <div class="card card-standard card-red" style="height: 386px;">
        <div class="card-content">
          <span class="card-icon">
            <img src="/static/images/icons/gettingstarted.png" srcset="/static/images/icons/gettingstarted@2x.png 2x, /static/images/icons/gettingstarted@3x.png 3x">
          </span>
          <h2>{% translate "Getting Started" %}</h2>
          <p>{% translate "Lorem ipsum dolor velum ptat duis inum eras a vas consequat inum. Lorem ipsum dolor velum ptat duis inum eras." %}</p>
          <a href="{{ "membership/" | localize_url }}" title="{% translate "Getting Started" %}">
            <button class="card-arrow" title="{% translate "Getting Started" %}">
                <img src="/static/images/icons/arrow-copy-3.png" srcset="/static/images/icons/arrow-copy-3@2x.png 2x, /static/images/icons/arrow-copy-3@3x.png 3x">
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-standard card-purple" style="height: 386px;">
        <div class="card-content">
          <span class="card-icon">
            <img src="/static/images/icons/forums.png" srcset="/static/images/icons/resources@2x.png 2x, /static/images/icons/resources@3x.png 3x">
          </span>
          <h2>{% translate "Forums" %}</h2>
          <p>{% translate "Lorem ipsum dolor velum ptat duis inum eras a vas consequat inum. Lorem ipsum dolor velum ptat duis inum eras." %}</p>
          <a href="{{ "#" | localize_url }}" title="{% translate "Forums" %}">
            <button class="card-arrow" title="{% translate "Forums" %}">
                <img src="/static/images/icons/arrow-copy-3.png" srcset="/static/images/icons/arrow-copy-3@2x.png 2x, /static/images/icons/arrow-copy-3@3x.png 3x">
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-graphic" style="height: 386px;">
        <img src="/static/images/graphics/brain-colours.png" srcset="/static/images/graphics/brain-colours@2x.png 2x, /static/images/graphics/brain-colours@3x.png 3x">
      </div>
    </div>
</div>

{% endblock content %}
