{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Log In" %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div class="form-panel form-panel-signin">
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />

            <h2 class="form-panel-heading">{% translate "Log In" %}</h2>

            <div class="form-group">
                <div class="form-label">
                    <label for="id_username">{% translate "Email" %}:</label>
                </div>

                <div class="form-input">
                    <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
                </div>
            </div>

            <div class="form-group">
                <div class="form-label">
                    <label for="id_password">{% translate "Password" %}:</label>
                </div>
                <div class="form-input">
                    <input type="password" name="password" required="" id="id_password">
                </div>
            </div>

            {% if form.errors %}
                <p class="invalid-feedback">{% translate "Invalid email or password" %}</p>
            {% endif %}

            <div class="form-actions-signin">
                <a class="form-forgot-password" href="/users/password/reset">{% translate "Forgot your password?" %}</a>
                <input class="btn btn-form-submit" type="submit" value="Log In">
            </div>

        </form>

        </div>
    </div>
</div>

{% endblock %}

