{% for category in form.categories %}
  <div class="mb-3">
    <p class="text-uppercase small fw-semibold text-muted mb-1">{{ category.name }}</p>
    <div class="d-flex flex-wrap column-gap-2 row-gap-1">
      {% for tag in category.tags.all %}
        <div class="resource-tag-check">
          <input class="visually-hidden"
                 type="checkbox"
                 name="tag"
                 value="{{ tag.slug }}"
                 id="tag_{{ tag.slug }}"
                 autocomplete="off"
                 {% if tag.slug in selected_tag_slugs %}checked{% endif %} />
          <label for="tag_{{ tag.slug }}">{% include "resources/_tag_badge.html" with no_link=True %}</label>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}
