{% load i18n menu_tags translate_url icon %}

<footer class="footer mt-auto py-3"
        data-bs-theme="{{ settings.cms.ThemeSettings.footer_colour_mode }}">
  <div class="container">
    <div class="row py-5 my-5">
      <div class="col-12 col-lg-6 mb-3">
        <a href="{% translate_url LANGUAGE_CODE '/' %}"
           class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
          {% include "snippets/footer_logo_or_name.html" %}
        </a>
        <div>
          <ul class="nav justify-content-start list-unstyled d-flex">
            {% if settings.cms.AssociationSettings.linkedin_url %}
              <li class="fs-4 me-3">
                <a class="text-body-secondary"
                   href="{{ settings.cms.AssociationSettings.linkedin_url }}"
                   aria-label="LinkedIn">{% icon "linkedin" %}</a>
              </li>
            {% endif %}
            {% if settings.cms.AssociationSettings.facebook_url %}
              <li class="fs-4 me-3">
                <a class="text-body-secondary"
                   href="{{ settings.cms.AssociationSettings.facebook_url }}"
                   aria-label="Facebook">{% icon "facebook" %}</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-2 mb-3">
        {% flat_menu 'footer-1' template="cms/menu/footer_menu.html" max_levels=1 show_menu_heading=True %}
      </div>
      <div class="col-12 col-md-4 col-lg-2 mb-3">
        {% flat_menu 'footer-2' template="cms/menu/footer_menu.html" max_levels=1 show_menu_heading=True %}
      </div>
      <div class="col-12 col-md-4 col-lg-2 mb-3">
        {% flat_menu 'footer-3' template="cms/menu/footer_menu.html" max_levels=1 show_menu_heading=True %}
      </div>
    </div>
    {% if LANGUAGES|length > 1 %}
      <div class="row">
        <div class="col">
          <div class="text-center text-muted small">
            {% for language_code, language_name in LANGUAGES %}
              {% get_language_info for language_code as lang %}
              {% if not forloop.first %}|{% endif %}
              {% if LANGUAGE_CODE == language_code %}
                <span>{{ lang.name_local|capfirst }}</span>
              {% else %}
                <a href="{% translate_url language_code %}"
                   class="text-muted text-decoration-none">{{ lang.name_local|capfirst }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</footer>
