{% load static wagtailcore_tags wagtailuserbar i18n localize_url %}
{% load menu_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {# Header navigation bar #}
        <div>
            <div style="float:right">
                {% if user.is_authenticated %}
                    {% if user.first_name %}
                        <span>You are logged in as {{ user.first_name }} {{ user.last_name }}</span>
                    {% else %}
                        <span>You are logged in as {{ user.username }}</span>
                    {% endif %}
                    <a href="{% url "auth_logout" %}">{% translate "Log Out" %}</a>
                {% else %}
                    <a href="{% url "auth_login" %}?next={{ request.path | urlencode}}">{% translate "Log In" %}</a>
                    <a href="{{ "membership/" | localize_url }}">{% translate "Sign Up" %}</a>
                {% endif %}

                {% if user.is_staff %}
                    <script>
                        function toggleAdminNavMenu() {
                            var navMenuDiv = document.getElementById("admin-nav-menu");
                            if(navMenuDiv) {
                                navMenuDiv.style.display = navMenuDiv.style.display === "block" ? "none" : "block";
                            }
                        }

                    </script>

                    <a href="#" onClick="toggleAdminNavMenu();" style="text-decoration: none;">&#9881;</a>

                    <div id="admin-nav-menu" style="display: none;">
                        <div style="float: right; text-align:center; border: 2px solid black; margin: 5px; padding: 5px; border-radius: 5px; width:200px">
                            <ul style="list-style-type: none; margin: 0; padding: 0">
                                <li><a href="{% url "admin-user-list" %}">{% translate "Users" %}</a></li>
                                <li><a href="{% url "admin-user-memberships" %}">{% translate "User Memberships" %}</a></li>
                            </ul>
                        </div>
                    </div>
                {% endif %}

            </div>
                {% if user.is_authenticated and user.member.status == "PENDING" %}
                {% translate "Your membership is Pending" %}
                {% endif %}
        </div>

        {% main_menu max_levels=3 show_multiple_levels=True apply_active_classes=True %}

        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/base.js' %}"></script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
