{% load static wagtailcore_tags wagtailuserbar i18n localize_url footer %}
{% load menu_tags %}
{% wagtail_site as current_site %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.min.css' %}">

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <script type="application/javascript" src="/static/js/vendor/jquery-3.7.0.slim.min.js"></script>
        <script type="application/javascript" src="/static/js/vendor/bootstrap.bundle.min.js"></script>
        <script type="application/javascript" src="/static/js/vendor/jquery.matchHeight-min.js"></script>
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <header>
            <div class="header-inner container">
              <!-- TODO: link title should be the website name -->
              <a href="{{ "" | localize_url }}" class="logo" {% if current_site and current_site.site_name %} title="{{ current_site.site_name }}"{% endif %}>
                <img class="logo-main" src="/static/images/logos/logo.png"><img class="logo-tagline" src="/static/images/logos/logo-tagline.png">
              </a>
              <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-controls="navigation" aria-label="Toggle navigation"></button>
              {% main_menu %}
            </div>
          </header>

          <div class="user-details-bar">
            <div class="user-details-inner container">
              <div class="user-details-membership">
                {% if user.is_authenticated and user.member.status == "PENDING" %}
                    <p>{% translate "Your membership is Pending" %}</p>
                {% endif %}
              </div>
              <div class="user-details-status">
                <p class="user-details-info">
                {% if user.is_authenticated %}
                  <span class="user-details-text">{% translate "You are logged in as" %}:</span>
                    <span class="user-details-name">
                    {% if user.first_name %}
                          {{ user.first_name }} {{ user.last_name }}
                    {% else %}
                          {{ user.username }}
                    {% endif %}
                    </span>
                    
                    <a href="{% url "auth_logout" %}" class="user-details-logout">{% translate "Log Out" %}</a>
                    <img class="user-details-image" src="">

                  {% else %}
                    <a href="{% url "auth_login" %}?next={{ request.path | urlencode}}" class="user-details-login">{% translate "Log In" %}</a>
                    <a href="{{ "membership/" | localize_url }}" class="user-details-signup">{% translate "Sign Up" %}</a>
                {% endif %}
                </p>
                <a href="#" class="user-details-lang">English</a>

                {% if user.is_staff %}
                  <div class="dropdown">
                    <button class="user-details-admin-btn" type="button" id="adminNavMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{% translate "Admin Settings" %}">
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="adminNavMenuButton" style="">
                      <a class="dropdown-item" href="{% url "admin-user-list" %}">{% translate "Users" %}</a>
                      <a class="dropdown-item" href="{% url "admin-user-memberships" %}">{% translate "User Memberships" %}</a>
                      <a class="dropdown-item" href="{% url "admin-organisations" %}">{% translate "Organisations" %}</a>
                    </div>
                  </div>
                {% endif %}
                </p>
              </div>
            </div>
          </div>

        <main>
          <div class="container">
          {% block content %}{% endblock %}
          </div>
        </main>

        {% footer %}

        {% wagtailuserbar %}

        <script type="application/javascript" src="/static/js/main.js"></script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
