/* Main */
main {
  background-color: #ddd;
}

body {
  color: black;
}
h1 {
  color: black;
}
h2 {
  color: black;
}
h3 {
  color: black;
}
h4 {
  color: black;
}
h5 {
  color: black;
}



/* Header */
header {
  background-color: #fff;
}



/* Navbar */
.navbar-toggle {
  background-color: #444;
  color: white;
}

.navbar-toggle:hover {
  background-color: black;
  color: white;
}



.navbar-link {
  color: #555;
}
.navbar-link:hover {
  color: black;
  border-color: black;
}
.navbar-item.current .navbar-link {
  color: black;
  border-bottom-color: black;
}
.navbar-sublinks-toggle::after {
  color: black !important;
}



/* Submenu */
@media only screen and (min-width: 992px) {
  .navbar-sublinks {
    background-color: #ccc;
  }
  .navbar-sublink {
    color: white;
  }
  .navbar-sublink:hover {
    background-color: black;
    color: white;
  }
}

.navbar-sublink {
  color: black;
}

.navbar-sublink:hover {
  background-color: black;
  color: white;
}



/* Userbar */
.user-details-bar {
  background-color: #333;
  color: white;
}

.user-details-bar a {
  color: white;
}

.user-details-bar a:hover {
  color: white;
}

.user-details-lang {
  background-color: black;
}



/* Introduction */
.introduction-heading {
  color: #444;
}

.introduction-content {
  color: #222;
}



/* Cards */
.card-standard {
  background-color: white;
  border-color: white;
  color: #222;
}

.card-photo {
  border-color: white;
}

.card-discussion-title {
  color: #222;
}

.card-discussion-heading {
  color: #222;
}

.card-discussion {
  background-color: white;
  color: #222;
}

.card-discussion-content {
  color: #222;
}



/* Button */
.btn-hollow {
  background-color: #ddd;
  color: #222;
}

.btn-hollow:hover {
  color: black;
}

.btn-view {
  background-color: #222;
  color: white;
}

.btn-view:hover {
  color: white;
}

.btn-hollow-footer {
  background-color: #333;
}

.btn-form-register {
  background-color: white;
  color: black;
}



/* Footer */
.footer-main {
  background-color: #333;
  color: white;
}

.footer-copyright {
  background-color: #222;
  color: white;
}

.footer-panel {
  background-color: white;
  color: #222;
}



/* Forms */
.form-panel {
  background-color: white;
  color: white;
}

.form-divider {
  color: white;
}