{% extends "base.html" %}

{% load i18n translate_url %}

{% block title %}
  {% trans "Page not found" %}
{% endblock title %}

{% block content %}
  <h1>{% trans "Page not found" %}</h1>
  <p>
    <a href="{% translate_url LANGUAGE_CODE '/' %}">{% trans "Go to homepage" %}</a>
  </p>
  {% if available_locales %}
    <div>
      <p>{% trans "This page is available in:" %}</p>
      <ul>
        {% for locale in available_locales %}
          <li>
            <a href="{{ locale.url }}">{{ locale.language_name }} - {{ locale.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock content %}
