{% load static i18n breadcrumb_tags %}

{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>{% include "includes/head.html" %}</head>
  <body class="min-vh-100 d-flex flex-column {% block bodyclass %}{% endblock bodyclass %}
     ">
    {% block body %}
      {% include "includes/header_desktop.html" %}
      <main class="flex-grow-1">
        <div class="container">
          {% block breadcrumbs %}
            {% breadcrumbs %}
          {% endblock breadcrumbs %}

          {% include "includes/messages.html" %}
          {% block content %}
          {% endblock content %}

        </div>
      </main>
      {% include "includes/footer.html" %}
    {% endblock body %}

    {% block modal %}
      {% include "includes/action_modal.html" %}
    {% endblock modal %}

    {% block inline_javascript %}
      <script src="{% static 'js/action-modal.js' %}"></script>
    {% endblock inline_javascript %}

    {% include "includes/header_mobile.html" %}
  </body>
</html>
