{% load static i18n wagtailcore_tags %}

{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" class="h-100">
  <head>{% include "includes/head.html" %}</head>
  <body class="d-flex flex-column h-100 {% block bodyclass %}{% endblock bodyclass %}">
    {% block body %}
      {% include "includes/header.html" %}
      <main class="flex-shrink-0">
        <div class="container">
          {% include "includes/messages.html" %}
          {% block content %}
          {% endblock content %}
        </div>
      </main>
      {% include "includes/footer.html" %}
    {% endblock body %}
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
    {% endblock inline_javascript %}
  </body>
</html>
