.btn {
  @include rem(padding, 20px 30px 20px 30px);
  @include rem(font-size, 16px);
  display: inline-block;
  font-weight: 500;
}

.btn:hover {
  text-decoration: none;
}

.btn-hollow {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $page-colour-background;
  color: $white;
}

.btn-hollow:hover {
  color: $white;
}

.btn-view {
  background-color: $dtta-cream-light;
  color: $dtta-green-light;
  float: right;
}

.btn-view:hover {
  color: $dtta-green-light;
}

.btn-hollow-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $footer-colour-background;
  color: $white;
}

.btn-hollow-footer:hover {
  color: $white;
}
