.card-discussion-title {
  @include rem(margin-bottom, 37px);
  color: $card-discussion-colour-title;
  font-size: 48px;
  font-weight: 300;

  @include media-breakpoint-down(sm) {
    @include rem(max-width, 520px);
    margin: 0 auto;
  }
}

.card-discussion {
  position: relative;
  background-color: $card-discussion-colour-background;
  @include media-breakpoint-down(md) {
    @include rem(margin-bottom, 30px);
  }
}

.card-discussion-heading {
  @include rem(font-size, 24px);
  color: $card-discussion-colour-heading;
  font-weight: 500;
}

.card-discussion-post-info {
  @include rem(font-size, 12px);
  @include rem(margin-bottom, 25px);
  display: block;
}

.card-discussion-content {
  @include rem(padding, 56px 56px 80px 56px);
  color: $card-discussion-colour-content;
}
