.introduction {
  color: $dtta-lime;
}

.introduction-heading {
  line-height: 1.1;
  font-weight: 300;
  font-size: 38px;
  @include media-breakpoint-up(sm) {
    @include rem(margin-bottom, 10px);
    font-size: 48px;
  }
  @include media-breakpoint-up(md) {
    @include rem(margin-bottom, 20px);
    font-size: 64px;
  }
  @include media-breakpoint-up(lg) {
    @include rem(margin-bottom, 40px);
    font-size: 84pxx;
  }
}

.introduction-content {
  @include rem(margin-bottom, 75px);
  line-height: 1.82;
  font-size: 20px;
  @include media-breakpoint-up(md) {
    font-size: 24px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 28.5px;
  }
}

.introduction-teachers-aotearoa {
  @include media-breakpoint-up(lg) {
    @include rem(padding-left, 120px);
  }
}