.membership-option {
  @include rem(padding, 30px 50px 30px 80px);
  @include rem(font-size, 32px);
  position: relative;
  background-color: #eee;
  color: $membership-option-colour-text;
  display: inline-block;
  margin: 10px;
  
  &:hover {
    color: $membership-option-colour-text-hover;
    &:before {
      color: $membership-option-colour-icon-hover;
    }
  }

  &:before {
    font: var(--fa-font-solid);
    font-size: 22px;
    left: 30px;
    position: absolute;
    top: 50%;
    margin-top: -11px;
    color: $membership-option-colour-icon;
  }

  @include media-breakpoint-down(xs) {
    display: block;
  }
}

.membership-option-individual {
  &:before {
    content: "\f007";
  }
}

.membership-option-organisation {
  &:before {
    content: "\f0c0";
  }
}
