.table-container {
  @include rem(padding, 40px);
  background-color: $white;
}

.table-container p {
  color: #000;
}

.table,
.table thead th,
.table td {
  border-color: #000;
}

.table a {
  color: #000;
  text-decoration: none;

  &:hover {
    color: #000;
  }
}

.table-actions {
  float: right;
  margin-bottom: 15px;
}

th.orderable {
  &:after {
    font: var(--fa-font-solid);
    content: "\f338";
    font-size: 16px;
  }
}

.table-action-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.table-action-list li, .table-action-list form {
  display: inline;
}

ul.pagination {
  float: right;
  display: flex;
  padding-left: 0;
  list-style: none;

  li {
    margin-left: 10px;
    text-transform: capitalize;
  }

  a {
    color: #000;
  }
}