.table-container {
  @include rem(padding, 40px);
  background-color: $brand-lime-faded;
}

.table {
  
}

.table,
.table thead th,
.table td {
  border-color: #000;
}

.table a {
  color: #000;

  &:hover {
    color: #000;
  }
}