{% load icon %}

{% if not record.invoices.exists %}
  <span class="text-secondary">Not required</span>
{% else %}
  {% for invoice in record.invoices.all %}
    {% if invoice.paid_date %}
      {% if invoice.billing_service_invoice_id %}
        <a href="{% url 'billing:invoice-redirect' invoice.invoice_number %}"
           target="_blank"
           rel="noopener noreferrer"
           class="text-success d-block">Paid<span class="ps-1">{% icon "box-arrow-up-right" %}</span></a>
      {% else %}
        <span class="text-success d-block">Paid</span>
      {% endif %}
    {% else %}
      {% if invoice.billing_service_invoice_id %}
        <a href="{% url 'billing:invoice-redirect' invoice.invoice_number %}"
           target="_blank"
           rel="noopener noreferrer"
           class="text-warning d-block">Awaiting payment<span class="ps-1">{% icon "box-arrow-up-right" %}</span></a>
      {% else %}
        <span class="text-warning d-block">Awaiting payment</span>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}
