{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}

<h1>Digital Technologies Teachers Aotearoa</h1>

<p>The Digital Technologies Teachers Aotearoa is an association with the goal of advocating for our subjects.
The aim of the association is to create a community of teachers where we can share resources, communicate and
speak with one voice to get our subject area recognised and supported.</p>

{% endblock content %}
