@import 'custom_bootstrap_vars';
@import '~bootstrap/scss/bootstrap';

///////////////
// Variables //
///////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////
// Alerts //
////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

/* Custom */
main > .container {
  // Spacing from top of page to content (under navbar)
  padding-top: 6rem;
  // Spacing from bottom of content to footer
  padding-bottom: 3rem;
}

.responsive-object {
  position: relative;
  margin-bottom: 1rem;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Carousel image fix
.carousel-item img {
  height: auto !important;
  max-width: 100%;
}

// Icons
.bi {
  display: inline-block;
  vertical-align: -0.125em;
  fill: currentcolor;
}

// Circle image mask
.circle-responsive {
  width: 100%;
  aspect-ratio: 1 / 1;
  /* Makes it a perfect square at any width */
  border-radius: 50%;
  /* Turns the square into a circle */
  overflow: hidden;
}

.circle-responsive img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
