@import 'partials/custom_bootstrap_vars';
@import '~bootstrap/scss/bootstrap';
@import 'partials/profile_pictures';
@import 'partials/full_width_section_block';
@import 'partials/pricing_cards';
@import 'partials/breadcrumbs';

/* Rules as polyfill for new CSS rule: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/margin-trim */
.margin-trim {
  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
}

///////////////
// Variables //
///////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////
// Alerts //
////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

/* Custom */
html,
body {
  max-width: 100%;
  // Prevents horizontal scrollbars when elements overall. Would be ideal to not require
  // this, but .full-width-section has this horizontal scrollbar issue.
  overflow-x: clip;
}

main > .container {
  // Spacing from top of page to content (under navbar of 66px)
  padding-top: calc(1rem + 66px);
  // Spacing from bottom of content to footer
  padding-bottom: 3rem;
}

.responsive-object {
  position: relative;
  margin-bottom: 1rem;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Carousel image fix
.carousel-item img {
  height: auto !important;
  max-width: 100%;
}

// Bootstrap icons
.bi {
  display: inline-block;
  vertical-align: -0.125em;
  fill: currentcolor;
}

// Circle image mask
.circle-responsive {
  width: 100%;
  aspect-ratio: 1 / 1;
  /* Makes it a perfect square at any width */
  border-radius: 50%;
  /* Turns the square into a circle */
  overflow: hidden;
}

.circle-responsive img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Icons
.icon {
  display: block;
  margin: auto;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.navbar-icon {
  height: 2rem;
  display: inline-block;
}

// Remove border around language selector button on md+ screens
@include media-breakpoint-up(md) {
  #navbarLanguageSelector {
    border-color: transparent;
  }

  #navbarLanguageSelector:focus,
  #navbarLanguageSelector:hover {
    border-color: inherit;
  }
}

/* Spacing */

.content-gap-spacing {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

// Apply margin trim to Wagtail paragraphs
.block-paragraph_block,
.block-lead_paragraph_block {
  @extend .margin-trim;
}

// Apply .lead to <p> within div.lead-paragraph
div.lead-paragraph p {
  @extend .lead;
}

// Text alignment classes for rich text editor
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-justify {
  text-align: justify;
}

// Navbar
/* Perfect mobile logo centering */
#navbar-logo img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 992px) {
  #navbar-logo img {
    position: static;
    transform: none;
  }
}

.navbar .nav-link.dropdown-toggle.submenu {
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
}

/* Make all form labels bold */
form {
  .form-label,
  label {
    font-weight: 600;
  }
  span.asteriskField {
    color: var(--bs-danger);
  }
}
