/* Draftail editor alignment preview */
.Draftail-block--ALIGN_LEFT .public-DraftStyleDefault-ltr {
  text-align: left;
  margin: 0.625rem 0;
}
.Draftail-block--ALIGN_CENTER .public-DraftStyleDefault-ltr {
  text-align: center;
  margin: 0.625rem 0;
}
.Draftail-block--ALIGN_RIGHT .public-DraftStyleDefault-ltr {
  text-align: right;
  margin: 0.625rem 0;
}
.Draftail-block--ALIGN_JUSTIFY .public-DraftStyleDefault-ltr {
  text-align: justify;
  margin: 0.625rem 0;
}

/* WCAG contrast badges for theme color pickers */
.wcag-badge-group {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  margin-top: 0.25rem;
  flex-wrap: wrap;
}

.wcag-badge-label {
  font-size: 0.7rem;
  color: #666;
}

.wcag-badge {
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 600;
  padding: 0.1rem 0.4rem;
  border-radius: 3px;
  line-height: 1.4;
}

.wcag-badge--aaa {
  background-color: #d1e7dd;
  color: #0a3622;
}

.wcag-badge--aa {
  background-color: #fff3cd;
  color: #664d03;
}

.wcag-badge--fail {
  background-color: #f8d7da;
  color: #58151c;
}
