/* Draftail editor alignment preview */
.Draftail-block--ALIGN_LEFT .public-DraftStyleDefault-ltr {
  text-align: left;
  margin: 0.625rem 0;
}
.Draftail-block--ALIGN_CENTER .public-DraftStyleDefault-ltr {
  text-align: center;
  margin: 0.625rem 0;
}
.Draftail-block--ALIGN_RIGHT .public-DraftStyleDefault-ltr {
  text-align: right;
  margin: 0.625rem 0;
}
.Draftail-block--ALIGN_JUSTIFY .public-DraftStyleDefault-ltr {
  text-align: justify;
  margin: 0.625rem 0;
}
